# Dev environment
pip
autopep8

# App
flask
google-generativeai
python-dotenv
markdown2
python-docx

# RAG Multimodal System
google-cloud-aiplatform
vertexai
numpy
pandas
Pillow
PyMuPDF
rich
IPython
watchdog

# Web Scraping
playwright>=1.40.0
