# Dev environment
pip
autopep8

# App
flask
google-generativeai
python-dotenv
chromadb

# Image embeddings (optional)
torch
open_clip_torch
pillow
numpy

# PDF embeddings (optional)
PyMuPDF
pdfplumber
